@page
@model K_Box_project.Pages.BokaNuModel
@{
}

<section id="BokaNu" class="BokaNu">
    <div class="container" data-aos="fade-up" style="padding:140px 0px 100px 0;">
        <h1 id="Title-H1" class="text-center">BOKA TID</h1>
        <p class="text-center m-auto" style="width:65%;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        <div class="progresses py-4">
            <ul class="d-flex align-items-center justify-content-between">
                <li id="step-1" class="blue"></li>
                <li id="step-2"></li>
                <li id="step-3"></li>
            </ul>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="form-area p-5 rounded-3">
            <form role="form" method="post">
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-label">Plats*</label>
                        <select asp-for="Stad" id="disabledSelect" class="form-select">
                            <option>Stockholm</option>
                            <option>Linköping</option>
                            <option>Göteborg</option>
                        </select>
                        <span asp-validation-for="Stad" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Datum*</label>
                    <input type="date" asp-for="Date" id="start" class="form-control text-left mr-2" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Rumtyp*</label>
                    <select asp-for="Rum" id="Rum" class="form-select" onchange="UpdateRum()">
                        <option value="VIP">VIP</option>
                        <option value="Deluxe">Deluxe</option>
                        <option value="Premier">Premier</option>
                        <option value="Superior">Superior</option>
                    </select>
                    <span asp-validation-for="Rum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Start tid*</label>
                    <span class="text-danger">@Html.ValidationMessage("Overtime")</span>
                    <select asp-for="@Model.Start" class="form-select">
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
                        <option>21:00</option>
                        <option>22:00</option>
                        <option>23:00</option>
                        <option>00:00</option>
                        <option>01:00</option>
                        <option>02:00</option>
                        <option>03:00</option>
                    </select>
                    @*<input asp-for="@Model.Start" class="form-control" min="18:00"/>*@
                    <span asp-validation-for="@Model.Start" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Slut tid*</label>
                    <select asp-for="@Model.End" class="form-select">
                        <option>19:00</option>
                        <option>20:00</option>
                        <option>21:00</option>
                        <option>22:00</option>
                        <option>23:00</option>
                        <option>00:00</option>
                        <option>01:00</option>
                        <option>02:00</option>
                        <option>03:00</option>
                    </select>
                    @*<input asp-for="@Model.End" class="form-control"/>*@
                    <span asp-validation-for="@Model.End" class="text-danger"></span>
                    <span class="text-danger">@Html.ValidationMessage("Invalid")</span>
                </div>
                <div class="form-group">
                    <label class="form-label">Antal personer*</label>
                    <select asp-for="People" id="People" class="form-select">
                        @for (int i = 3; i <= 14; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span asp-validation-for="People" class="text-danger"></span>
                </div>
                <br />
                <hr />
                <label class="h3" style=" color: #3f1e87; ">KONTAKTUPPGIFTER</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col form-group">
                            <label class="form-label">Förnamn*</label>
                            <input asp-for="Firstname" class="form-control">
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label class="form-label">Efternamn*</label>
                            <input asp-for="Lastname" class="form-control">
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Mobilnummer*</label>
                    <input asp-for="Mobile" type="text" class="form-control">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">E-post*</label>
                    <input asp-for="Epost" type="email" class="form-control">
                    <span asp-validation-for="Epost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Meddelande(Frivilig)</label>
                    <textarea asp-for="Message" class="form-control" type="textarea" maxlength="140" rows="7"></textarea>
                </div>
                <div class="form-group justify-content-center d-flex">
                    <button type="submit" id="submit" name="submit" class="btn text-success bg-white btn-success">Forsätt</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    let PeopleList = document.querySelectorAll("#People>*");
    function UpdateRum() {
        document.querySelector("#People").value = null;
        let room = document.querySelector("#Rum").value;
        (room == "VIP") && VIPSelect();
        (room == "Deluxe") && DeluxeSelect();
        (room == "Premier") && PremierSelect();
        (room == "Superior") && SuperiorSelect();
    }
    function VIPSelect() {//10-14
        DissableAllPeople();
        EnableSelected(10);
        EnableSelected(11);
        EnableSelected(12);
        EnableSelected(13);
        EnableSelected(14);
    }
    function DeluxeSelect() {//8-10
        DissableAllPeople();
        EnableSelected(8);
        EnableSelected(9);
        EnableSelected(10);
    }
    function PremierSelect() {//5-8
        DissableAllPeople();
        EnableSelected(3);
        EnableSelected(4);
        EnableSelected(5);
    }
    function SuperiorSelect() {//3-5
        DissableAllPeople();
        EnableSelected(5);
        EnableSelected(6);
        EnableSelected(7);
        EnableSelected(8);

    }
    function DissableAllPeople() {
        for (let i = 0; i < PeopleList.length; i++) {
            PeopleList[i].hidden = true;
        }
    }
    function EnableSelected(p) {
        PeopleList.forEach((e) => { if (e.innerText == p) e.hidden = false; })
    }
    UpdateRum();
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
